/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  $body-font-family: "Nunito Sans",
  $button-text-transform: none,
  $button-font-weight: 600,
  $button-font-size: 1rem
);
