.content-area-cover{
    max-width: 900px;
    margin: auto;
}

.content-area{
    max-width: 800px;
    margin: auto;
}

#cover-area{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#cover{
    height: 350px;
    background: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* margin: 10px 0px; */
}

#cover img{
    width: 900px;
    height: 350px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#header-area{
    width: 100%;
    background-color: #F7F7F7;
    position:relative;
}

.fade-cover{
    height:inherit;
    width: 100%;
    background: #F7F7F7;  /* fallback for old browsers */
}

#company-data-area{
    margin-top: 10px;
    width: 100%;
}

#comp-photo{
    width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 145px;
    border: 5px solid #F7F7F7;
}

#company-data-area{
    display: flex;
}

#comp-photo-area{
    margin-top: -50px;
    width: 145px;
    height: 145px;
}

#company-data{
    margin-left: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 20px 0px;
}

#comp-name-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

#rating-area{
    margin-left: 10px;
    display: flex;
    margin-top: 5px;
}

#rating-area i{
    color: gold;
    margin-top: 1px;
}

#comp-name{
    color: #3e3e3e !important;
}

#comp-name h1{
    font-size: 25px;
}

#comp-uf{
    color: #a6a5a5;
}

.btn-schedule{
    background-color: var(--primary-color);
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-schedule:hover{
    background-color: #ff9630;
}

#menu-area-header{
    border-top: 3px solid #DCDCDC;
    margin-top: 30px
}

.rating-btn-header{
    border-radius: 10px;
}

#menu-area-header{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 10px 0px;
    align-items: center;
}

#menu-h-opts-area{
    display: flex;
}

.menu-h-opts{
    padding: 8px 30px;
    /* font-weight: bold; */
    cursor: pointer;
    color: #717171;
    transition: 0.2s;
    border-radius: 10px;
}

.menu-h-opts:hover{
    background-color: #eeeeee;
}

.card-content{
    background-color: white;
    border-radius: 10px;
}

#about-box{
    padding: 10px;
}

.box-content{
    padding: 20px 0px;
}

.title-card-content{
    color: #3e3e3e;
    font-weight: bold;
    margin-bottom: 15px;
}

#map-about{
    border-radius: 10px;
}

#map-about iframe{
    width: 100%;
    border-radius: 10px;
}

#info-area{
    display: flex;
}

#text-ia{
    color: #a6a6a6;
    font-size: 12px;
}

.about-icon{
    padding: 0px 8px;
}

.about-icon i{
    color: #a6a6a6;
}

.about-child{
    margin: 5px 0px;
    display: flex;
    align-items: center;
}

.about-text{
    color: #a6a6a6;
    font-size: 12px;
}

.link-about{
    text-decoration: none;
    color: var(--primary-color) !important;
}

.link-about:hover{
    color: #ff9630 !important;
    text-decoration: underline;
}

#social-media-area{
    align-self: center;
    padding: 0px 8px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.sma-icons i{
    font-size: 24px;
    color: #717171;
    cursor: pointer;
}

.outcard-title{
    font-size: 18px;
    margin: 0px;
}

#head-services-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

#see-more-title-services{
    color: var(--primary-color);
    cursor: pointer;
}

#see-more-title-services:hover{
    text-decoration: underline;
}

.card-services{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-services-title{
    color: #3e3e3e;
    font-weight: bold;
    font-size: 14px;
}

.card-services-sub-title{
    font-weight: bold;
    font-size: 13px;
    color: #a6a6a6;
    margin-top: 5px;
}

.cs-schedules{
    color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 2px 8px;
    border-radius: 20px;
    margin-right: 5px;
}

.cs-schedules:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-to-schedule{
    border-radius: 10px;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-to-schedule:hover{
    background-color: #ff9630 !important;
    border-color: #ff9630;
}
.btn-to-schedule:focus{
    box-shadow: none;
    border-color: #ff9630;
}

.btn-to-schedule:{
    box-shadow: none;
    border-color: #ff9630;
}

.card-services-btn-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.csba-price{
    font-size: 13px;
    font-weight: bold;
    color: #a6a6a6;
}

#card-services-area{
    overflow-y: auto;
    padding-right: 10px;
}

.about-card{
    height: fit-content;
}

#card-services-area::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #F5F5F5;
}

#card-services-area::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#card-services-area::-webkit-scrollbar-thumb
{
	background-color: #6C757D;
	border: 2px solid #6C757D;
}
